
{% extends 'users/base.html' %}

{% block content %}
    <div class="container">
        <h2>Register Your Business</h2>
        <form method="POST">
            {% csrf_token %}
        
            <div class="form-group">
                <label for="business_name">Business Name</label>
                <input type="text" class="form-control" id="business_name" name="business_name" placeholder="Enter your business name" required>
            </div><br>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Enter your descreiption" rows="3"></textarea>
            </div><br>

            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" placeholder="Enter your category" name="category" required>
            </div><br>

            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" name="address" placeholder="Enter your address" rows="3" required></textarea>
            </div><br>

        
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone" required>
            </div><br>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br>
        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
