    <!-- Fixed Footer -->
    <footer class="footer">
        <div class="container-fluid text-white py-2">
            <div class="row align-items-center">
                <!-- Links Section -->
                <div class="col-md-6 text-left text-md-left mb-2 mb-md-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="aboutus.html">About Us</a></li>
                        <li class="list-inline-item"><a href="contactus.html">Contact Us</a></li>
                        <li class="list-inline-item"><a href="faq.html">FAQ</a></li>
                        <li class="list-inline-item"><a href="terms.html">Terms &amp; Conditions</a></li>
                        <li class="list-inline-item"><a href="privacy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="cookie.html">Cookie Policy</a></li><br>
						<ul class="list-unstyled text-dark">
						  <li class="list-inline-item"><a href="dashboard.html" class="link-secondary text-decoration-none">
						  <span class="textdeck">| Dashboard |</span></a></li>
						  <li class="list-inline-item"><a href="opportunities.html" class="link-secondary text-decoration-none">
						  <span class="textdeck">Opportunities |</span></a></li>
						</ul>
                    </ul>
                </div>
                <!-- Social Media and Copyright -->
                <div class="col-md-6 text-center text-md-right">
                    <ul class="list-inline mb-2 social-icons">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <div>
                        <span>&copy; 2024 Recreational - Zone Business Directory</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>