<!-- Footer -->
<footer class="py-4 mt-auto">
    <div class="container">
    
        <div class="alert  alert-dark text-center mb-4 " role="alert">
        <!-- Navigation Links -->
        <nav class="d-flex flex-wrap  justify-content-center mb-3">
            <a href="#" class="mx-2">About Us</a> |
            <a href="#" class="mx-2">Contact Us</a> |
            <a href="#" class="mx-2">FAQ</a> |
            <a href="#" class="mx-2">Terms & Conditions</a> |
            <a href="#" class="mx-2">Privacy Policy</a> |
            <a href="#" class="mx-2">Cookie Policy</a> | 
        </nav>
        <a href="{% url 'home' %}" class="mx-2">Dashboard</a> |
        <a href="#" class="mx-2">Opportunities</a> |
        </div>
        
        
    </div>
</footer>
